name: migrating_to_github_actions/gradle-jdk11-poc
on:
#   # The shortest interval you can run scheduled workflows is once every 5 minutes.
#   period: '180'
env:
  gradle_cmd: gradle
  gradle_opts: "-Dorg.gradle.daemon=false"
  gradle_tasks: clean build
  java_version: '11'
jobs:
  Build-and-Test-BUILD-JOB:
    runs-on:
      - self-hosted
      - Gradle
    steps:
    - name: Clean working directory
      run: rm -rf ${{ github.workspace }}/*
      shell: bash
    - uses: actions/checkout@v4.1.0
    - name: Verify Environment
      run: |-
        echo "===== Environment Info ====="
        java -version
        gradle --version
    - name: Gradle Build
      run: gradle clean build
    - uses: actions/upload-artifact@v4.1.0
      with:
        name: MTGA-GRAD_jar-artifact
        path: "*.jar"
        if-no-files-found: ignore
  Publish-PUBLISH-JOB:
    runs-on: ubuntu-latest
    needs:
    - Build-and-Test-BUILD-JOB
    steps:
    - uses: actions/download-artifact@v4.1.0
      with:
        name: MTGA-GRAD_jar-artifact
    - name: Publish Simulation
      run: |-
        echo "Publishing artifact..."
        ls -l build/libs
